<body>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contents">
            <div class="row_A">
              <div class="col-sm-6 col-md-offset-1 col-md-3">
                <p>Hello</p>
                <div class="content_textarea row">
                  <div class="content_text">
                    <p>@just</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-offset-1 col-md-3">
                <p>Still</p>
                <div class="content_textarea row">
                  <div class="content_text">
                    <p>@just</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-offset-1 col-md-3">
                <p>Island</p>
                <div class="content_textarea row">
                  <div class="content_text">
                    <p>@just</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="topics">
            <div class="row_B">
              <ul class="topic">
                <li class="col-md-12">Hello</li>
                <li class="col-md-12">Hello</li>
                <li class="col-md-12">Hello</li>
                <li class="col-md-12">Hello</li>
                <li class="col-md-12">Hello</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</body>
